.App{
   margin: 20px;
   padding: 0;
   display: grid;
   gap: 20px;
   grid-template-columns: 1fr 1fr 1fr;
}
.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: rgb(71, 187, 38);
    border: 2px solid black;
    border-radius: 20px;
}
.product >img{
    width: 100%;
    max-width: 200px;
    height: auto;
}
.pagination{
    padding: 10px;
    margin: 30px 15px 30px 15px;
   
    display: flex;
    justify-content: center;
}
.pagination > span{
    padding: 15px 20px;
    border: 2px solid black;
    cursor: pointer;
}
.pagination__selected{
    background-color: black;
    color: white;
}